.exhibit {
  /* Use a light gray background */
  background-color: #ffffff;
  /* Use some padding */
  padding: 100px;
  color: black;
  border: 5px solid black;
}

/* Style the panel-container element */
.panel-container {
    /* Use flexbox to arrange the child elements in a row */
    display: flex;
    /* Use some margin */
    margin: 10px;
    
  }
  
  /* Style the child elements of the panel-container */
  .panel-container > * {
    /* Use some margin */
    margin: 10px;
    /* Use some padding */
    padding: 10px;
    /* Use a white background */
    background-color: white;
    /* Use a black border */
    border: 1px solid black;
    color:black;
  }